torch # tensors, optimizers, modules 
numpy
pandas
tqdm
tensorboard # cli tensorbaord 
tensorboardX # import SummaryWriter => writer.add_metrics()
matplotlib # plotting graphs, works ipynb
seaborn # allows for different visualizations
argparse # parse arguments from commandline
transformers
sklearn
nlp
rouge_score
pytorch-nlp
bertviz